.fork-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 800px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.imgfork {
  width: 100%;
}
.imgfork2 {
  display: none;
  transform: translateY(0px);
}
.imgfork3 {
  display: none;
  transform: translateY(0px);
}



.img-fork {
  position: absolute;
  margin-top: -80px;
  grid-area: 1 / 1 / 2 / 2;
}
.text-fork {
  z-index: 1;
  margin-left: 18%;
}

.textfork {
  color: rgb(255, 255, 255);
  font-size: 82px;
  font-weight: 700;
  text-align: center;
}

.text2 {
  font-family: Lato, sans-serif;
  margin-top: -70px;
  width: 1000px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #8d81ac;
}

.text3 {
  margin-top: -10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #848e97;
  text-transform: uppercase;
}

.btn-fork {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  height: 62px;
  width: 390px;
  border-radius: 40px;
  border: 2px solid #8d81ac;
  background: #8d81ac;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 410px;
  
}
.btn-fork:hover{
  background-color:#ffffff;;
  color: #8d81ac;
}
.down-btn-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: #848e97;
}