.navbar-menu {
  height: 50px;
  padding-top: 30px;
  padding-right: 5%;
  // background-color: rgb(144, 6, 6);
  overflow: hidden;
}
.white {
  position: relative;
  z-index: 1;
  font-weight: 700;
  float: right;
  color: #8d81ac;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 17px;
}
.white:hover {
  color: #ffffff;
}

.forkio {
  z-index: 1;
  position: absolute;
  margin-top: 4px;
  margin-left: 150px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #8d81ac;
}

.icon-nav {
  z-index: 1;
  position: absolute;
  margin-top: -3px;
  margin-left: 90px;
  width: 40px;
}

.btn-buy{
  position: relative;
  z-index: 1;
  font-weight: 700;
  float: right;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  width:180px;
  border: 1px solid #8d81ac;
  color: #ffffff;
  background-color: #8d81ac;
  border-radius: 40px;
}

.btn-buy:hover{
  background-color: #ffffff;
  color: #8d81ac;
}